[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis.bomma.store
Environment=CATALOGUE_HOST=catalogue.app.bomma.store
Environment=CATALOGUE_PORT=80
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target